.jobs-container {
  background-color: #000000;
  height: 100vh;
  background-size: cover;
  padding: 20px;
}
.profile-and-filters-container {
  width: 300px;
}
.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-position: center;
  background-size: cover;
  border-radius: 14px;
  padding: 10px;
}

.profile-image {
}

.profile-name {
  font-family: 'Roboto';
  color: #6366f1;
  font-weight: 500;
  font-size: 18px;
}

.profile-short-bio {
  font-family: 'Roboto';
  color: #7e858e;
  font-weight: 500;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
}
