.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  padding: 20px;
}

.home-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 30px;
  line-height: 1.3;
}

.description {
  color: #cbd5e1;
  font-family: 'Roboto';
  line-height: 1.3;
  font-weight: 400;
  margin-bottom: 33px;
  margin-top: 0px;
}
.find-jobs-button {
  background-color: #6366f1;
  color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 500;
  border-width: 0px;
  border-radius: 4px;
  width: 90px;
  padding: 10px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    height: 100vh;
    width: 100vw;
    background-size: cover;
  }

  .home-description-container {
    width: 450px;
    margin-left: 100px;
  }
  .main-heading {
    font-size: 50px;
  }

  .description {
    margin-bottom: 33px;
  }
}
