.login-container {
  background-color: #000000;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: #272727;
  min-height: 300px;
  min-width: 250px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.website-logo {
  width: 120px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: ce;
}
.label-element {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 400;
  align-self: flex-start;
}
.input-element {
  padding: 5px;
  font-size: 12px;
  width: 200px;
  height: 30px;
  background-color: transparent;
  border: 0.5px solid #7e858e;
  outline: none;
  border-radius: 4px;
  color: #ffffff;
}
.login-button {
  background-color: #4f46e5;
  font-family: 'Roboto';
  font-weight: 500;
  width: 80%;
  border-width: 0px;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  padding: 6px;
  border-radius: 6px;
  width: 200px;
}

@media screen and (min-width: 768px) {
  .form-container {
    min-height: 350px;
    min-width: 300px;
  }
}
